<ion-view view-title="Password_recovery" class="passwordRecoveryPage" hide-nav-bar="true" >
    <ion-content class="padding">

        <div  class="back-button row" ui-sref="login">
            <button>
                <div class="ion-chevron-left"></div>
                <span>Login</span>
            </button>

        </div>

        <div class="row responsive-sm padding">
            <div class="col">

                <p></p>
                <div class="password_recovery-form">
                    <label class="item ion-email item-input"><input type="text" placeholder="Email Address"> </label>
                </div>

                <div  class="recoveryButton">
                    <button class="button button-block button-balanced"> Recovery </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
