ion-view.passwordRecoveryPage {

   .back-button {
     color: #fff;
     .ion-chevron-left {
       margin: 0 10px 0 0;
     }
   }
   .bar-header {
     color-text: #fff;
   }

   .password_recovery-form {
     .item {
       margin: 10% 0;
       input {
         margin-left: 10px;
       }
     }

   }
 }