ion-view.workerListPage {
  .iconChat {
    right: 60px;
  }
  .iconLocation{
    //float:right;
  }
  .list {
    margin-top: 12%;

  }
  .bar-footer{
    .icon{
      margin-right: 20px;
    }
  }
}