<ion-view view-title="Register" class="registerPage" hide-nav-bar="true" >
    <ion-content class="padding">

        <div class="back-button row" ui-sref="login"><div class="ion-chevron-left"></div><span>Login</span></div>

        <div class="row responsive-sm padding">
            <div class="col">
                <div class="register-form">
                    <label class="item ion-person item-input"><input type="text" placeholder="Full Name"> </label>
                    <label class="item ion-email item-input"><input type="text" placeholder="Email Address"> </label>
                    <label class="item ion-iphone item-input"><input type="text" placeholder="Phone Number"> </label>
                    <label class="item ion-locked item-input"><input type="password" placeholder="Password"> </label>
                </div>

                <div  class="loginButton"><button class="button button-block button-balanced"> Sign up </button>  </div>
            </div>
        </div>
    </ion-content>
</ion-view>
