<ion-view view-title="ProfileForList" class="profileForListPage" hide-nav-bar="true">
    <div>
        <div class="bar bar-header bar-calm">
            <button ng-click="$ionicGoBack()" class="back-button button-icon icon"><i class="icon ion-chevron-left"></i>
            </button>
            <h1 class="title">Profile</h1>
        </div>
    </div>
    <ion-content>
        <div>
            <div class="username"><h1>{{vm.profileInfo.user[0].username}}</h1></div>

            <div class="list information-list">
                <div class="item" ng-if="vm.profileInfo.user[0].role == 6">
                    Your Status:
                    <p>Worker</p>
                </div>
                <div class="item" ng-if="vm.profileInfo.user[0].role == 4">
                    Your Status:
                    <p>Courier</p>
                </div>
                <div class="item">
                    <div flex="90">
                        Number Phone:
                        <p>{{vm.profileInfo.user[0].phone}}</p>
                    </div>
                    <a flex="10" class="button button-icon icon iconPhone" href="tel:{{vm.profileInfo.user[0].phone}}">
                        <!--<i class="icon ion-android-call"></i>-->
                        <i class="icon ion-ios-telephone-outline"></i>
                    </a>
                </div>
                <div class="item">
                    Card Number:
                    <p>{{vm.profileInfo.user[0].card}}</p>
                </div>
                <div class="item">
                    Your email:
                    <p>{{vm.profileInfo.user[0].email}}</p>
                </div>
                <div class="item">
                    Your Position:
                    <p>{{"lat:" + vm.profileInfo.user[0].lat}},{{"lng:" + vm.profileInfo.user[0].lng}}</p>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>