ion-view.loginPage {

  .app-logo {
    text-align: center;
    margin: 10% 0 20% 0;
  }

  .app-logo img {
    width: 40%;
  }

  .responsive-sm {
    margin: 0 0 10% 0;
  }

  .login-form {
    .item {
      margin: 15px 0;

      input {
        margin-left: 10px;
      }
    }
  }

  .navigate-button {
    display: flex;
    justify-content: space-between;
  }
.input{
  border-top: 0;
  border-left:0;
  border-right:0;
}
}