<ion-view view-title="Menu_courier" class="menuCourierPage" hide-nav-bar="true">
        <div>
            <div class="bar bar-header bar-balanced">
                <button class="button button-icon icon" ui-sref="login"><i class="icon ion-arrow-left-a"></i></button>
                <h1 class="title">Menu</h1>
            </div>
        </div>
        <ion-content class="has-header">
            <div>
                <div class="list menu-courier-form" >


                    <a class="item item-icon-left" href="" ui-sref="chat">
                        <i class="icon ion-chatbubble-working"></i>
                        Chat
                    </a>
                    <a class="item item-icon-left" ui-sref="#">
                        <i class="icon ion-navigate"></i>
                        Location
                    </a>



                </div>
            </div>
        </ion-content>
</ion-view>