<ion-view view-title="Menu_operator" class="menuOperatorPage">
    <div>
        <div class="bar bar-header bar-calm has-tabs-top">

            <h1 class="title ">Menu</h1>

            <md-menu>
                <md-button class="md-icon-button button button-icon icon item-button-right" ng-click="$mdMenu.open()" aria-label="more">
                    <i class="icon ion-navicon-round"></i>
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ui-sref="profile">
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button    >
                            Exit
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light" ng-show="$root.role == 6">
            <div class="tabs">
                <a class="tab-item" ui-sref="menu_operator.couriers_list">
                    List
                </a>
                <a class="tab-item" ui-sref="menu_operator.geolocation">
                    Map
                </a>

            </div>
        </div>
    </div>
        <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light" ng-show="$root.role == 4">
            <div class="tabs">
                <a class="tab-item" ui-sref="chat_user>
                    Chat
                </a>
                <a class="tab-item" ui-sref="menu_operator.geolocation">
                    Map
                </a>

            </div>
        </div>
    </div>
    <ui-view>





    </ui-view>
    </div>
</ion-view>