ion-view.menuOperatorPage {

  .menu-operator-form {
    margin-top: 12%;

  }
  .icon-footer-add{
    height: 30px;
    float: right;
  }
  .bar{
    top: 0;
  }
  .fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }

  .fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #fff !important; }

  .fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }

  .fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }


}
